:root {
  --dark-blue: #0a0f23;
  --white: #ffffff;
  --card-bg: #1e2a47;
  --accent-color: #61dafb;
  --button-bg: #0a0f23;
  --button-hover: #61dafb;
}

.container {
  background-color: var(--dark-blue);
  color: var(--white);
  padding: 9rem;
  text-align: center;
}

.heading {
  font-size: 2.5rem;
  font-weight: bold;
  margin-bottom: 2rem;
  color: var(--accent-color);
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 5rem;
  justify-items: center;
}
